= simple_form_for [@restaurant, @pizza] do |f|
  .group-field
    = f.input :name
    = f.input :price, as: :float
    = f.input :ingredients
  .group-actions
    = link_to 'Back', restaurant_pizzas_path(@restaurant), class: 'btn btn-default'
    = f.button :submit
