%h1 Listing pizzas

%table
  %thead
    %tr
      %th Name
      %th Price
      %th Ingredients
      %th
      %th
      %th

  %tbody
    - @pizzas.each do |pizza|
      %tr
        %td= pizza.name
        %td= number_to_currency(pizza.price, unit: "PLN", separator: ",", delimiter: "", format: "%n %u")
        %td= pizza.ingredients
        %td= link_to 'Show', pizza
        %td= link_to 'Edit', edit_pizza_path(pizza)
        %td= link_to 'Destroy', pizza, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pizza', new_pizza_path
