= simple_form_for restaurant do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :opening_time
    = f.input :closing_time
    = f.input :opening_day, collection: week_days, label_method: :capitalize, include_blank: true
    = f.input :closing_day, collection: week_days.reverse, blank: true
  .form-actions
    = link_to 'Back', restaurants_path, class: 'btn btn-default'
    = f.button :submit
