%p#notice= notice
%p
  %strong Name:
  = @restaurant.name
%p
  %strong Address:
  = @restaurant.address
%p
  %strong Openings time:
  = shortest_timme(@restaurant.opening_time)
%p
  %strong Closings time:
  = shortest_timme(@restaurant.closing_time)
%p
  %strong Opening day:
  = @restaurant.opening_day

  %strong Closing day:
  = @restaurant.closing_day
= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-default'
|
= link_to 'Back', restaurants_path, class: 'btn btn-default'
