<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Openings time:</strong>
  <%= @restaurant.openings_time %>
</p>

<p>
  <strong>Closings time:</strong>
  <%= @restaurant.closings_time %>
</p>

<p>
  <strong>Opening day:</strong>
  <%= @restaurant.opening_day %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
